/* src/App.css */
nav {
    background-color: #f0f0f0;
    padding: 11npmpx;
  }
  
  nav a {
    margin-right: 15px;
    text-decoration: none;
    color: black; /* Default color */
  }
  
  nav a.active {
    color: red; /* Active link color */
  }